
.hi-melody-regular {
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin-bottom: 300px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    background-image: url('/static/img/pink.jpg');
}

.typing {
    margin : 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    width: 80%;
    max-width: 8000px;
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    opacity: 1; /* 초기에는 텍스트가 보이지 않도록 설정 */
    animation: typing 3s steps(40, end) forwards; /* 타이핑 애니메이션 */
}

/* 타이핑 애니메이션 keyframes 설정 */
@keyframes typing {
    from { width: 0%; opacity: 1; }
    to { width: 100% }
}

/* Home 버튼 스타일 */
.home-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: beige;
    border: none;
    border-radius: 5px;
    font-size: 150px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease; /* 색상 전환 효과 */
}

.home-button:hover {
    color:black;
}
#audio-player {
    position: absolute;
    top: calc(200px + 20px); 
    right: 0px; 
  }
  